<div id="job-view-container" class="container">
  <div class="row text-center">
    <a class="back-link main-color" href="/">Voltar</a>
    <div class="col-md-12">
      <h1 class="main-color">{{job.dataValues.title}}</h1>
      <p class="bold">Descrição:</p>
      <p class="job-desc">{{job.dataValues.description}}</p>
      <p><span class="bold">O valor por unidade é de:</span> R${{job.dataValues.valor_un}}</p>
      <p>
        Para contactar <span class="bold main-color">{{job.dataValues.fornecedor}}</span> envie um e-mail para <a class="main-color" href="mail:to{{job.dataValues.email}}">{{job.dataValues.email}}</a>
      </p>
    </div>
  </div>
</div>